<!DOCTYPE html>
<html lang="en">
  {% include balance-header.html %}
  <body>
    <header>
      <div class="col-lg-12 col-sm-12 col-xs-12 b-header">
        <div class="col-lg-8 col-lg-offset-1 col-sm-12 col-xs-12 b-header-text">
          <h1>Revisar saldo de Estampillas Para Comida ahora mismo.</h1>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row">

          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 b-intro">
            <h2>Enviar el numero de tarjeta EBT de 16 dígitos  por texto a {{ page.content }} para verificar el saldo.</h2>
            <p><i>Se aplican las tarifas estándar de mensajería de texto.</i></p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 b-screenshot">
            <img src="../../../public/img/Balance-phone-spanish-no-cash.png" height="350px" alt="
            ¡Hola! El saldo de su cuenta de estampillas para comida es ¡Hola! El saldo de su cuenta de estampillas para comida es {}.">
          </div>

        </div>
      </div>
    </div><!-- /.container -->

    <div class="b-footer">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12 footer-left" >
          <img src="../../../public/img/flagtag.png";><h4>Un proyecto de Código para América</h4>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer-right">
          <h4><a href="https://github.com/codeforamerica/balance">Contribuir en Github.</a></h4>
        </div>
      </div>
    </div>
    {% include balance-footer.html %}
    </body>
</html>